/dts-v1/;
/*
 * Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 */
#include "qcom-ipq807x-soc.dtsi"
#include "qcom-ipq807x-spmi-regulator.dtsi"

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	model = "Qualcomm Technologies, Inc. IPQ807x-HK01";
	compatible = "qcom,ipq807x-hk01", "qcom,ipq807x";
	qcom,msm-id = <0x125 0x0>;
	interrupt-parent = <&intc>;
	qcom,board-id = <0x10 0x0>;

	aliases {
		sdhc1 = &sdhc_1; /* SDC1 eMMC slot */
		sdhc2 = &sdhc_2; /* SDC2 SD slot */
	};

	cpus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		cpu-map {

			cluster0 {

				core0 {
					cpu = <&CPU0>;
				};

				core1 {
					cpu = <&CPU1>;
				};

				core2 {
					cpu = <&CPU2>;
				};

				core3 {
					cpu = <&CPU3>;
				};
			};

		};

		CPU0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			clocks = <&gcc GCC_DUMMY_CLK>;
			clock-names = "cpu";
			operating-points-v2 = <&cpu0_opp_table>;
			enable-method = "qcom,arm-cortex-acc";
			voltage-tolerance = <1>;
			cpu0-supply = <&s3>;
			qcom,acc = <&acc0>;
			next-level-cache = <&L2_0>;
			cpu-idle-states = <>;

			L2_0: l2-cache {
				compatible = "arm,arch-cache";
				cache-level = <0x2>;
			};
		};

		CPU1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			enable-method = "qcom,arm-cortex-acc";
			reg = <0x1>;
			clocks = <&gcc GCC_DUMMY_CLK>;
			clock-names = "cpu";
			operating-points-v2 = <&cpu0_opp_table>;
			voltage-tolerance = <1>;
			cpu-supply = <&s3>;
			qcom,acc = <&acc1>;
			next-level-cache = <&L2_0>;
			cpu-idle-states = <&cpu_hotplug>;
		};

		CPU2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			enable-method = "qcom,arm-cortex-acc";
			reg = <0x2>;
			clocks = <&gcc GCC_DUMMY_CLK>;
			clock-names = "cpu";
			operating-points-v2 = <&cpu0_opp_table>;
			voltage-tolerance = <1>;
			cpu-supply = <&s3>;
			qcom,acc = <&acc2>;
			next-level-cache = <&L2_0>;
			cpu-idle-states = <&cpu_hotplug>;
		};

		CPU3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			enable-method = "qcom,arm-cortex-acc";
			reg = <0x3>;
			clocks = <&gcc GCC_DUMMY_CLK>;
			clock-names = "cpu";
			operating-points-v2 = <&cpu0_opp_table>;
			voltage-tolerance = <1>;
			cpu-supply = <&s3>;
			qcom,acc = <&acc3>;
			next-level-cache = <&L2_0>;
			cpu-idle-states = <&cpu_hotplug>;
		};

		idle-states {
			entry-method = "psci";

			cpu_hotplug: cpu-hotplug {
				compatible = "arm,idle-state";
				local-timer-stop;
				entry-latency-us = <100>;
				exit-latency-us = <700>;
				min-residency-us = <2000>;
				arm,psci-suspend-param = <0x0010000>;
				status = "disabled";
			};
		};

	};

	cpu0_opp_table: opp_table0 {
		compatible = "operating-points-v2";
		opp-shared;

		opp00 {
			opp-hz = /bits/ 64 <1036800000>;
			opp-microvolt = <670000>;
			clock-latency-ns = <200000>;
		};
		opp01 {
			opp-hz = /bits/ 64 <1689600000>;
			opp-microvolt = <735000>;
			clock-latency-ns = <200000>;
		};
		opp02 {
			opp-hz = /bits/ 64 <1843200000>;
			opp-microvolt = <800000>;
			clock-latency-ns = <200000>;
		};
		opp03 {
			opp-hz = /bits/ 64 <1958400000>;
			opp-microvolt = <850000>;
			clock-latency-ns = <200000>;
		};
		opp04 {
			opp-hz = /bits/ 64 <2016000000>;
			opp-microvolt = <905000>;
			clock-latency-ns = <200000>;
		};
		opp05 {
			opp-hz = /bits/ 64 <2208000000>;
			opp-microvolt = <990000>;
			clock-latency-ns = <200000>;
		};
	};

	chosen {
		bootargs = "console=ttyMSM0,115200,n8 root=/dev/ram0 rw init=/init";
	};
};

&soc {
	acc0:clock-controller@b188000 {
		compatible = "qcom,arm-cortex-acc";
		reg = <0x0b188000 0x1000>;
	};

	acc1:clock-controller@b198000 {
		compatible = "qcom,arm-cortex-acc";
		reg = <0x0b198000 0x1000>;
	};

	acc2:clock-controller@b1a8000 {
		compatible = "qcom,arm-cortex-acc";
		reg = <0x0b1a8000 0x1000>;
	};

	acc3:clock-controller@b1b8000 {
		compatible = "qcom,arm-cortex-acc";
		reg = <0x0b1b8000 0x1000>;
	};

	dp1 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <1>;
		reg = <0x3a001000 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
	};

	dp2 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <2>;
		reg = <0x3a001200 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
	};

	dp3 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <3>;
		reg = <0x3a001400 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
	};

	dp4 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <4>;
		reg = <0x3a001600 0x200>;
		qcom,mactype = <0>;
		local-mac-address = [000000000000];
	};

	dp5 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <5>;
		reg = <0x3a003000 0x3fff>;
		qcom,mactype = <1>;
		local-mac-address = [000000000000];
	};

	dp6 {
		device_type = "network";
		compatible = "qcom,nss-dp";
		qcom,id = <6>;
		reg = <0x3a007000 0x3fff>;
		qcom,mactype = <1>;
		local-mac-address = [000000000000];
	};

	edma@3ab00000 {
		compatible = "qcom,edma";
		reg = <0x3ab00000 0x76900>;
		reg-names = "edma-reg-base";
		qcom,txdesc-ring-start = <23>;
		qcom,txdesc-rings = <1>;
		qcom,txcmpl-ring-start = <7>;
		qcom,txcmpl-rings = <1>;
		qcom,rxfill-ring-start = <7>;
		qcom,rxfill-rings = <1>;
		qcom,rxdesc-ring-start = <15>;
		qcom,rxdesc-rings = <1>;
		interrupts = <0 345 4>,
			   <0 353 4>,
			   <0 361 4>,
			   <0 344 4>;
	};

	ess-switch@3a000000 {
		compatible = "qcom,ess-switch";
		reg = <0x3a000000 0x1000000>;
		switch_access_mode = "local bus";
		switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
		switch_mac_mode1 = <0xff>; /* mac mode for uniphy instance1*/
		switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2*/
	};

	ess-uniphy@7a00000 {
		compatible = "qcom,ess-uniphy";
		reg = <0x7a00000 0x30000>;
		uniphy_access_mode = "local bus";
	};

	nss-common {
		compatible = "qcom,nss-common";
		reg = <0x01d00000 0x1000>;
		reg-names = "nss_fpb_base";
		clocks = <&gcc GCC_DUMMY_CLK>, <&gcc GCC_DUMMY_CLK>;
		clock-names = "nss-core-clk", "nss-tcm-clk";
	};

	nss0: nss@40000000 {
		compatible = "qcom,nss";
		interrupts = <0 377 0x1>, <0 378 0x1>, <0 379 0x1>, <0 380 0x1>,
			     <0 381 0x1>;
		reg = <0x39000000 0x1000>, <0x38000000 0x30000>,
		      <0x0b111000 0x1000>;
		reg-names = "nphys", "vphys", "qgic-phys";
		clocks = <&gcc GCC_DUMMY_CLK>, <&gcc GCC_DUMMY_CLK>,
			 <&gcc GCC_DUMMY_CLK>;
		clock-names = "nss-core-clk", "nss-tcm-src",
			      "nss-tcm-clk";
		resets = <&gcc GCC_DUMMY_CLK>,
			 <&gcc GCC_DUMMY_CLK>,
			 <&gcc GCC_DUMMY_CLK>,
			 <&gcc GCC_DUMMY_CLK>;
		reset-names = "clkrst-clamp", "clamp", "ahb", "axi";
		qcom,id = <0>;
		qcom,num-queue = <2>;
		qcom,num-irq = <5>;
		qcom,load-addr = <0x40000000>;
		qcom,bridge-enabled;
		qcom,ipv4-enabled;
		qcom,ipv6-enabled;
		qcom,wlanredirect-enabled;
		qcom,tun6rd-enabled;
		qcom,l2tpv2-enabled;
		qcom,map-t-enabled;
		qcom,portid-enabled;
		qcom,ppe-enabled;
		qcom,pppoe-enabled;
		qcom,pptp-enabled;
		qcom,tunipip6-enabled;
		qcom,shaping-enabled;
		qcom,wlan-dataplane-offload-enabled;
		qcom,vlan-enabled;
	};

	audio: audio@7700000 {
		status = "ok";
	};

	mbox0: mbox@7708000 {
		status = "ok";
	};

	mbox3: mbox@770e000 {
		status = "ok";
	};

	stereo0: stereo@7709000 {
		status = "ok";
	};

	stereo3: stereo@770f000 {
		status = "ok";
	};

	/* Enable Audio Interfaces */
	i2s: ipq8074-pcm-i2s@0 {
		status = "ok";
	};

	i2splatform: qca-pcm-i2s@7709000 {
		status = "ok";
	};

	tdmplatform: qca-pcm-tdm@7709000 {
		status = "ok";
	};

	tdm: tdm@0 {
		status = "ok";
	};

	sound: sound@0 {
		pinctrl-0 = <&audio_gpio_pins>;
		pinctrl-1 = <&audio_pins>;
		pinctrl-names = "default", "audio";
		status = "ok";
	};

	/* Enable VOIP Interfaces */
	pcm: pcm@7704000 {
		status = "ok";
	};

	pcm_lb: pcm_lb@0 {
		status = "ok";
		pinctrl-0 = <&voip_pins>;
		pinctrl-names = "default";
	};
};

&tlmm {
	hsuart_pins: hsuart_pins {
		mux {
			pins = "gpio50", "gpio51", "gpio52", "gpio53";
			function = "blsp3_uart";
			bias-disable;
		};
	};

	audio_gpio_pins: audio_gpio_pinmux {
		mux_1 {
			pins = "gpio25";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_2 {
			pins = "gpio26";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_3 {
			pins = "gpio27";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_4 {
			pins = "gpio28";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_5 {
			pins = "gpio29";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_6 {
			pins = "gpio30";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_7 {
			pins = "gpio31";
			function = "gpio";
			bias-pull,up;
			output-high;
		};

		mux_8 {
			pins = "gpio32";
			function = "gpio";
			bias-pull,up;
			output-high;
		};
	};

	audio_pins: audio_pinmux {
		mux_1 {
			pins = "gpio25";
			function = "audio_txmclk";
			bias-pull,up;
		};

		mux_2 {
			pins = "gpio26";
			function = "audio_txbclk";
			bias-pull,up;
		};

		mux_3 {
			pins = "gpio27";
			function = "audio_txfsync";
			bias-pull,up;
		};

		mux_4 {
			pins = "gpio28";
			function = "audio_txd";
			bias-pull,up;
		};

		mux_5 {
			pins = "gpio29";
			function = "audio_rxmclk";
			bias-pull,up;
		};

		mux_6 {
			pins = "gpio30";
			function = "audio_rxbclk";
			bias-pull,up;
		};

		mux_7 {
			pins = "gpio31";
			function = "audio_rxfsync";
			bias-pull,up;
		};

		mux_8 {
			pins = "gpio32";
			function = "audio_rxd";
			bias-pull,up;
		};
	};

	voip_pins: voip_pinmux {
		mux_1 {
			pins = "gpio33";
			function = "pcm_drx";
			bias-pull,up;
		};

		mux_2 {
			pins = "gpio34";
			function = "pcm_dtx";
			bias-pull,up;
		};

		mux_3 {
			pins = "gpio35";
			function = "pcm_fsync";
			bias-pull,up;
		};

		mux_4 {
			pins = "gpio36";
			function = "pcm_pclk";
			bias-pull,up;
		};
	};
};

&q6v5_wcss {
	qca,emulation = <1>;
};

&spi_0 { /* BLSP1 QUP1 */
	#pinctrl-0 = <&spi_0_pins>;
	#pinctrl-names = "default";
	status = "ok";

	m25p80@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		compatible = "n25q128a11";
		linux,modalias = "m25p80", "n25q128a11";
		spi-max-frequency = <24000000>;
		use-default-sizes;
	};
};

&serial_1 {
	pinctrl-0 = <&hsuart_pins>;
	pinctrl-names = "default";
	status = "ok";
};

&qpic_bam {
	status = "ok";
};

&nand {
	status = "ok";
};

&qpic_lcd {
	status = "ok";
};

&qpic_lcd_panel {
	status = "ok";
};

&ssphy_0 {
	qcom,emulation = <1>;
	status = "ok";
};

&qusb_phy_0 {
	qcom,emulation = <1>;
	status = "ok";
};

&ssphy_1 {
	qcom,emulation = <1>;
	status = "ok";
};

&qusb_phy_1 {
	qcom,emulation = <1>;
	status = "ok";
};

&dwc_0 {
	dr_mode = "peripheral";
};

&usb3_0 {
	status = "ok";
};

&usb3_1 {
	status = "ok";
};

&sdhc_1 {
	qcom,clk-rates = <400000 25000000 50000000 100000000 \
			 192000000 384000000>;
	qcom,bus-speed-mode = "DDR_1p8v";
	qcom,nonremovable;
	status = "ok";
};

&sdhc_2 {
	qcom,clk-rates = <400000 25000000 50000000 100000000 \
			 192000000 384000000>;
	qcom,bus-speed-mode = "HS200_1p8v", "DDR_1p8v";
	status = "disabled";
};
